# ignore all external data
data/external_data/*

# ignore all program generated data
data/program_generated_data/*
cross_results_2015/*
cross_results_2016/*
hyper_results/*
results/*
summary/*

# ignore cache
__pycache__

# keep directory structure
!data/external_data/README.txt
!data/program_generated_data/README.txt
!data/program_generated_data/bert_embeddings/README.txt
!data/program_generated_data/raw_data/README.txt
!data/program_generated_data/temp/bert/README.txt
